<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/personal"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="certificados.length > 0; else no_certificados">
    <ion-card
    *ngFor="let certificado of this.certificados"
    (click) = "seleccionarCertificado(certificado)"
  >
    <ion-card-content>
      <ion-item lines="none">

        <ion-title>Curso:</ion-title>
        <ion-text>
          {{ certificado.data.json.curso }}
        </ion-text>

      </ion-item>
      <ion-item *ngIf="certificado.txid == certificadoSeleccionado.txid">
        <ngx-qrcode [qrc-value]="codigoCreado"></ngx-qrcode>
      </ion-item>
    </ion-card-content>
  </ion-card>
  </div>
  


  <ng-template #no_certificados>
    <p class="ion-padding text-gray-700 font-lg font-semibold ">No hay certificados</p>
  </ng-template>
</ion-content>
